'1;95;0c# Object files
*.o

# Emacs change files
*~

# Programs
guide-agent/guideagent
guide-agent/displaytest
guide-agent/inboundmessagetest.c
guide-agent/outboundmessagetest.c
*/core
guide-agent/server
logs/guideagent.log
guide-agent/server.c
guide-agent/memorytest
